Source: php-horde-turba
Section: php
Priority: extra
Maintainer: Horde Maintainers <pkg-horde-hackers@lists.alioth.debian.org>
Uploaders: Mathieu Parent <sathieu@debian.org>
Build-Depends: debhelper (>= 8.0.0), pkg-php-tools, pear-horde-channel, php-horde-role
Standards-Version: 3.9.3
Homepage: http://horde.org/
Vcs-Git: git://anonscm.debian.org/pkg-horde/horde4/php-horde-turba.git
Vcs-Browser: http://anonscm.debian.org/gitweb/?p=pkg-horde/horde4/php-horde-turba.git

Package: php-horde-turba
Architecture: all
Provides: turba
Depends: ${misc:Depends}, ${phppear:Debian-Depends}
Recommends: ${phppear:Debian-Recommends}
Breaks: ${phppear:Debian-Breaks}
Description: ${phppear:summary}
 ${phppear:description}
 .
 This package is part of Horde, a web application Framework written in PHP with
 modules like IMP (webmail), Turba (contacts), Kronolith (calendar), Nag (task
 list), Gollem (file manager), etc.
